@font-face {
	font-family: 'Poppins SemiBold';
	src: url(fonts/Poppins-SemiBold.ttf);
}
@font-face {
	font-family: 'Poppins Medium';
	src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
	font-family: 'Poppins Regular';
	src: url(fonts/Poppins-Regular.ttf);
}
* {
	padding: 0;
	margin: 0;
}
body {
	width: 1440px;
	margin: 0 auto;
	background-color: #1e252b;
	padding-bottom: 100px;
}
.container {
	width: 1224px;
	margin: 0 auto;
}
nav {
	padding-top: 31px;
	display: flex;
	align-items: center;
}
nav .logo {
	display: flex;
	align-items: center;
	gap: 15px;
}
nav .logo p {
	font-family: 'Poppins SemiBold';
	font-size: 22px;
	color: white;
	opacity: 0.9;
	font-weight: 600;
}
nav .links {
	margin-left: 254px;
	display: flex;
	align-items: center;
	gap: 30px;
}
nav .links a {
	color: white;
	text-decoration: none;
	font-family: 'Poppins Medium';
	font-size: 16px;
	opacity: 0.55;
}
.strelka {
	display: flex;
	align-items: center;
}
nav .acc {
	display: flex;
	align-items: center;
	margin-left: 193px;
	gap: 41px;
}
.acc .login {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.78);
	font-family: 'Poppins SemiBold';
	font-size: 16px;
}
.acc .signup {
	text-decoration: none;
	color: white;
	font-family: 'Poppins SemiBold';
	font-size: 16px;
	padding: 14px 28px;
	background-color: #f06327;
	border-radius: 8px;
}
header {
	margin-top: 104px;
	display: grid;
	grid-template-columns: 657px 589px;
}
.header_seredina h1 {
	color: white;
	opacity: 0.9;
	font-family: 'Poppins Medium';
	font-size: 50px;
	width: 600px;
	line-height: 140%;
}
.header_seredina h1 .point_orange {
	color: #ff6e30;
}
.header_seredina h2 {
	color: white;
	opacity: 0.55;
	font-family: 'Poppins Regular';
	font-size: 18px;
	width: 487px;
	font-weight: 100;
	line-height: 30px;
	margin-top: 40px;
}
.header_seredina .search {
	background-color: #283036;
	border-radius: 15px;
	width: 467px;
	padding: 8px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 70px;
}
.lupa_with_text {
	display: flex;
	align-items: center;
	gap: 15px;
}
.search .lupa_with_text p {
	color: white;
	opacity: 0.38;
	font-family: 'Poppins Regular';
	font-size: 14px;
}
.search a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	font-family: 'Poppins SemiBold';
	font-size: 16px;
	padding: 14px 36px;
	background-color: #f06327;
	border-radius: 8px;
}
.social {
	margin-top: 150px;
	display: flex;
	align-items: center;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

main {
	margin-top: 200px;
}
.popular h1 {
	color: rgba(255, 255, 255, 0.9);
	font-family: 'Poppins Medium';
	font-size: 48px;
	text-align: center;
	font-weight: 400;
}
.popular h2 {
	color: rgba(255, 255, 255, 0.55);
	font-family: 'Poppins Medium';
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	width: 40%;
	font-weight: 100;
	margin-top: 25px;
}
main .tools {
	margin-top: 90px;
}
.tools article {
	display: grid;
	gap: 30px;
	padding: 28px;
	border-radius: 15px;
	width: 328px;
	border: 4px solid #1e252b;
	transition: transform 0.3s ease-in-out;
}
.tools article:hover {
	background: radial-gradient(
		circle at top right,
		rgba(255, 165, 0, 0.05),
		#1e252b
	);
	transform: translateY(-30px);
	border: 4px solid rgba(255, 110, 50, 0.3);
}
.tools .up img {
	width: 42.67px;
	height: 64px;
}
.tools article .up {
	display: flex;
	align-items: center;
	gap: 41px;
}
.tools .up .text_logo h3 {
	color: rgba(255, 255, 255, 0.78);
	font-family: 'Poppins Medium';
	font-size: 24px;
	font-weight: 500;
}
.tools .up .text_logo h4 {
	color: #ffa537;
	opacity: 0.55;
	font-family: 'Poppins Regular';
	font-size: 18px;
}
.tools article p {
	color: rgba(255, 255, 255, 0.55);
	font-family: 'Poppins Regular';
	font-size: 16px;
	max-width: 326px;
}
.tools .down {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tools .down .logos {
	display: flex;
	gap: 35px;
	height: 23px;
}
.tools .down a {
	color: rgba(255, 255, 255, 0.55);
	font-family: 'Poppins SemiBold';
	font-size: 16px;
	text-decoration: none;
	padding: 10px 35px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 8px;
}
.tools .down a:hover {
	background-color: rgba(253, 114, 0, 1);
	border-radius: 8px;
	color: rgba(255, 255, 255, 1);
}
.tools {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	grid-row-gap: 100px;
	margin-top: 90px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.load_more {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
.load_more p {
	border: rgba(255, 255, 255, 0.3) 1px solid;
	border-radius: 8px;
	color: #ff6e30;
	font-family: 'Poppins Medium';
	font-size: 20px;
	padding: 15px 25px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.brands {
	margin-top: 200px;
	background: radial-gradient(
		circle at top left,
		rgba(255, 165, 0, 0.04),
		#1e252b
	);
	border: 4px solid rgba(255, 110, 50, 0.3);
	border-radius: 25px;
}
.brands h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 55px;
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Poppins Medium';
	font-size: 24px;
}
.brands_logos {
	display: flex;
	align-items: center;
	gap: 107px;
	padding: 56px 83px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.newcomer {
	margin-top: 200px;
	display: flex;
	gap: 197px;
	align-items: start;
}
.about {
	display: grid;
	grid-template-rows: (3, 1fr);
}
.newcomer h1 {
	color: rgba(255, 255, 255, 0.9);
	font-size: 48px;
	font-family: 'Poppins Medium';
	font-weight: 500;

	margin-top: 30px;
}
.newcomer h2 {
	font-family: 'Poppins Medium';
	font-size: 18px;
	color: rgba(255, 255, 255, 0.55);
	font-weight: 500;
	width: 427px;
	margin-top: 30px;
}
.about a {
	margin-top: 60px;
	font-family: 'Poppins Medium';
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	font-weight: 500;
	text-decoration: none;

	padding: 18px 40px;
	background-color: #f06327;
	border-radius: 8px;
	width: 120px;
	height: 25px;
}
.tools_second {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
	grid-row-gap: 50px;
}
.tools_second article {
	display: grid;
	gap: 30px;
	padding: 28px 21px;
	border-radius: 15px;
	width: 238px;
	border: 4px solid #1e252b;
	transition: transform 0.3s ease-in-out;
}
.tools_second article:hover {
	background: radial-gradient(
		circle at top right,
		rgba(255, 165, 0, 0.05),
		#1e252b
	);
	transform: translateY(-30px);
	border: 4px solid rgba(255, 110, 50, 0.3);
}
.tools_second .down a {
	color: rgba(255, 255, 255, 0.55);
	font-family: 'Poppins SemiBold';
	font-size: 16px;
	text-decoration: none;
	padding: 10px 35px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 8px;
}
.tools_second .down a:hover {
	background-color: rgba(253, 114, 0, 1);
	border-radius: 8px;
	color: rgba(255, 255, 255, 1);
}
.tools_second .up img {
	width: 42.67px;
	height: 64px;
}
.tools_second article .up {
	display: flex;
	align-items: center;
	gap: 41px;
}
.tools_second .up .text_logo h3 {
	color: rgba(255, 255, 255, 0.78);
	font-family: 'Poppins Medium';
	font-size: 24px;
	font-weight: 500;
}
.tools_second .up .text_logo h4 {
	color: #ffa537;
	opacity: 0.55;
	font-family: 'Poppins Regular';
	font-size: 18px;
}
.tools_second article p {
	color: rgba(255, 255, 255, 0.55);
	font-family: 'Poppins Regular';
	font-size: 16px;
	max-width: 326px;
}
.tools_second .down {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tools_second .down .logos {
	display: flex;
	gap: 35px;
	height: 23px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.person {
	margin-top: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 57px;
}
.person .strelka_left {
	margin-right: 82px;
}
.person .strelka_right {
	margin-left: 82px;
}
.person p {
	font-family: 'Roboto Regular';
	color: rgba(255, 255, 255, 0.78);
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
	width: 393px;
	line-height: 30px;
	letter-spacing: 0.15px;
}
.man .about_man {
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(40, 48, 54, 0.2);
	backdrop-filter: blur(25px);
	padding: 10px 15px;
	width: 218px;

	position: relative;
	top: -20px;
	left: 120px;
	z-index: 2;
}
.about_man h2 {
	font-family: 'Poppins Medium';
	font-size: 26px;
	color: rgba(255, 255, 255, 0.78);
	letter-spacing: 0.15px;
}
.about_man p {
	width: 218px;
	font-family: 'Poppins Medium';
	font-size: 16px;
	color: rgba(255, 255, 255, 0.55);
	letter-spacing: 0.15px;
}
.man_img {
	position: absolute;
	z-index: 1;
}
.circle_img {
	position: relative;
	top: 100px;
	z-index: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.slaid {
	display: block;
	margin: 100px auto 0px auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.become {
	margin-top: 250px;
	text-align: center;
}
.become h2 {
	color: rgba(255, 255, 255, 0.9);
	font-weight: 500;
	font-family: 'Poppins Medium';
	font-size: 48px;
	line-height: 130%;
}
.become h3 {
	color: rgba(255, 255, 255, 0.55);
	font-weight: 500;
	font-family: 'Poppins Medium';
	font-size: 18px;
	line-height: 30%;
	margin-top: 25px;
}
.joinus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 550px;
	margin: 100px auto 0 auto;
	background-color: #3a3f44;
	padding: 8px 12px;
	border-radius: 15px;
}
.joinus p {
	font-family: 'Poppins Regular';
	font-size: 14px;
	color: rgba(255, 255, 255, 0.38);
	font-weight: 400;
}
.joinus a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	font-family: 'Poppins SemiBold';
	font-size: 16px;
	padding: 14px 36px;
	background-color: #f06327;
	border-radius: 8px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.line {
	border-top: 0.1px solid white;
	margin-top: 240px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
	margin-top: 70px;
	display: flex;
}
.first_footer {
	width: 260px;
}
.logo_footer {
	display: flex;
	align-items: center;
	gap: 12px;
}
.logo_text_footer {
	font-family: 'Poppins SemiBold';
	font-size: 22px;
	color: white;
	opacity: 0.9;
	font-weight: 600;
}
.first_footer h2 {
	margin-top: 25px;
	font-family: 'Poppins Medium';
	font-size: 16px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.9);
}
.first_footer p {
	color: rgba(255, 255, 255, 0.55);
	font-family: 'Poppins Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}
.second_footer {
	display: flex;
	margin-left: 156px;
	gap: 115px;
}
.second_footer article h3 {
	color: rgba(255, 255, 255, 0.9);
	font-family: 'Poppins Medium';
	font-size: 20px;
	font-weight: 500;
}
.second_footer article a {
	display: grid;
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.55);
	font-family: 'Poppins Medium';
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
}
